@model Cart

<div class="">
     @if (Model.Lines.Count() > 0) //if there is something in your cart this will execute, printing the number of items and the total prices next to the cart icon
     {
         <small class="navbar-text">
             <b>Your cart:</b>
             @Model.Lines.Sum(x => x.Quantity) item(s)
             @Model.ComputeTotalSum().ToString("c")
         </small>
     }
     <a class="btn btn-sm btn-secondary navbar-btn" asp-page="/Cart" asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
     </a>
</div>