<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BamazonBooks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" /> <!--add this for the icon image-->
</head>
<body>
    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="navbar-brand ml-2">BAMAZON BOOK STORE</div>
                <div class="col-6 text-right">
                    <vc:cart-summary/> <!--inserts the cart summary into the navbar so it is on all pages-->
                </div>
            </div>
        </div>
    </div>
    
    <div class="row m-1 p-1">
        <vc:navigation-menu />  <!--This adds the category list from the Components folder to all pages-->
        <div class="col-9">
            <div>@RenderBody()</div>
        </div>
    </div>
</body>
</html>

<!--this file defines a simple HTML document into which the contents of other views will be inserted by the RenderBody expression.-->