@model IEnumerable<string>
    <!--set up the home button to take you to the home page-->
    <a class="btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home"
       asp-route-category="">
        Home
    </a>


    @foreach (string category in Model)
    {
        <a class="btn btn-block @(category == ViewBag.SelectedCategory ? "btn-primary" :"btn-outline-secondary")"
           asp-action="Index" asp-controller="Home"
           asp-route-category="@category"
           asp-route-pageNum="1">
            @category
        </a>
    }
    <!--displays based on whether the category matches-->